.DS_Store

node_modules/
dist/
release/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local

.claude/

client/dist/
client/release/
server/node_modules/
server-gui/release/
server-gui/node_modules/
server-gui/resources/mediasoup-workers/
